<!DOCTYPE html>
<html>
<head lang="ru">
	<title>Paymon</title>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="../assets/all_css/bootstrap-grid.min.css">
	<link rel="icon" href="../assets/index/images/Fav_icon.png" type="images/png"/>
	<link rel="stylesheet" href="../assets/all_css/Arkhip_font.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="../assets/index/css/slick-theme.css">
	<link rel="stylesheet" href="../assets/index/css/slick.css">
	<link href="../assets/index/css/index.css" type="text/css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../assets/index/js/slick.min.js"></script>
	<script src="../assets/index/js/index.js"></script>
	<script src="../assets/index/js/adaptiv_menu_js.js"></script>
	<script src="../assets/index/js/lang.js"></script>
</head>
<body>
<!-- NAVIGATION -->
<header>
	<div class="container">
		<h1 class="header_logo_mobile">Paymon</h1>
		<div class="nav_burger">
			<div>
				<span></span>
			</div>
		</div>
		<nav>
			<h1 class="header_logo">Paymon</h1>
			<a class="first_nav" target="_blank" href="https://medium.com/@Paymon_official/hive-important-information-f1483983faa8">Hive</a>
			<a target="_blank" href="https://web.paymon.org/profit/sign/">Profit</a>
			<a target="_blank" href="https://web.paymon.org/signin/">Web</a>
			<a href="#infrastructure" class="lg_h_1" onclick="slowScroll('#infrastructure')">Infrastructure</a>
			<a href="#exchanges" class="lg_h_2" onclick="slowScroll('#exchanges')">Exchanges</a>
			<a href="#news" class="lg_h_3" onclick="slowScroll('#news')">News</a>
			<!-- <a href="#footer" onclick="slowScroll('#footer')">Contact</a> -->
			<a class="lg_go">Eng</a>
		</nav>
	</div>
</header>
<!-- MAIN -->
<main>
	<div class="main_left_deg main_degs"></div>
	<div class="main_right_deg main_degs"></div>
	<img class="main_hexagon_right" src="../assets/index/images/Hecsagon vector.svg" alt="">
	<img class="main_hexagon_left" src="../assets/index/images/Hecsagon vector.svg" alt="">
	<div class="container">
		<img class="main_logo" src="../assets/index/images/Logo paymon vector.svg" alt="">
		<h1 class="main_underlogo_title">Paymon</h1>
		<form class="main_form_wrap" action="">
			<input class="lg_m_1 mail_input" placeholder="Введите ваше Email">
			<div class="form_alert">
				<p class="lg_m_2">Вы успешно подписались</p>
			</div>
			<div class="submit" type="submit" value="Go!">
				<p>Go!</p>
			</div>
		</form>
		<div class="main_bottom_row">
			<div class="main_networks_are">
				<a  href="https://t.me/paymoneng" target="_blank">
					<img  src="../assets/index/images/Social_Networks/Telegram.svg" alt="Telegram">
				</a>
				<a href="https://www.instagram.com/paymon_official/" target="_blank">
					<img src="../assets/index/images/Social_Networks/Insta.svg" alt="Instagram">
				</a>
				<a href="https://twitter.com/Paymon_official" target="_blank">
					<img src="../assets/index/images/Social_Networks/Twitter.svg" alt="Tweeter">
				</a>
				<a href="https://www.facebook.com/ico.paymon.org" target="_blank">
					<img src="../assets/index/images/Social_Networks/Facebook.svg" alt="Facebook">
				</a>
				<a href="https://www.youtube.com/channel/UCD1CvDVPJgxPBv9bsmpv1ig" target="_blank">
					<img src="../assets/index/images/Social_Networks/Youtube.svg" alt="YouTube">
				</a>
				<a href="https://medium.com/@Paymon_official" target="_blank">
					<img src="../assets/index/images/Social_Networks/Medium.svg" alt="YouTube">
				</a>
				<a href="https://github.com/PaymonTeam/" target="_blank">
					<img src="../assets/index/images/Social_Networks/GitHab.svg" alt="YouTube">
				</a>
			</div>
			<div class="main_store_are">
				<a href="https://itunes.apple.com/us/app/paymon/id1296873367" class="App_link" target="_blank">
					<img src="../assets/index/images/Social_Networks/apple.svg" alt="App_Store">
					<span>iOS</span>
				</a>
				<a href="https://play.google.com/store/apps/details?id=ru.paymon.android.release" class="Goo_link" target="_blank">
					<img src="../assets/index/images/Social_Networks/google-play.svg" alt="Google_Play">
					<span>Android</span>
				</a>
			</div>
		</div>
	</div>
</main>
<!-- INFRASTRUCTURE -->
<section class="infrostructure" id="infrastructure">
	<h1 class="lg_t_1 title">Инфраструктура</h1>
		<div class="slide_bg"></div>
		<div class="infr_slider">
			<div class="slides">
				<div class="slide_top">
					<div class="container slide_container">
						<div>
							<h1>Hive</h1>
							<p class="lg_s_1 slide_top_txt">Безлимитная скорость транзакций, <br> смарт-контракты и кроссчейн-переводы в <br> удобном интерфейсе.</p>
							<div class="slide_btn_area">
								<a target="_blank" class="lg_sb_1" href="https://medium.com/@Paymon_official/hive-important-information-f1483983faa8">Download</a>
							</div>
						</div>
						<img class="slide_img" src="../assets/index/images/Hive.svg" alt="">
						<div class="slide_btn_area slide_btn_area_mobile">
							<a target="_blank" class="lg_sb_1" href="https://medium.com/@Paymon_official/hive-important-information-f1483983faa8">Download</a>
						</div>
					</div>
				</div>
				<div class="slide_bot">
					<div class="container slide_container">
						<div class="col-4">
							<h1>Hive</h1>
							<p class="lg_s_2">Основанный на DAG и созданный на <br> Rust, Hive является быстрым и  <br> защищенным блокчейном. Алгоритм <br> подтверждения Proof of Me  позволяет  <br> пользователям самим подтверждать <br>  транзакции друг друга <br> и избавляет от комиссий, майнеров <br> и опасности атаки 51.</p>
						</div>
						<div class="col-4">
							<h1>Smart-contracts</h1>
							<p class="lg_s_3">Собственные смарт-контракты. Транзакции <br> токенов, созданных на базе Hive, <br> подтверждаются всеми пользователями <br> блокчейна. Чем больше пользователей, <br> разработчиков, тем больше нагрузка сети, <br> следовательно – выше скорость <br> транзакций. Безграничное <br> масштабирование.</p>
						</div>
						<div class="col-4">
							<h1>Atomic-swaps</h1>
							<p class="lg_s_4">Мы объединяем все криптовалюты в одну <br> экосистему. Атомарные свопы позволяют <br> обменивать одни валюты на другие <br> автоматически без участия третьих сторон. <br> Не нужно регистрироваться на бирже или <br> обменивать токен. Всё в одной платформе: <br> быстро, безопасно и просто. </p>
						</div>
						<p class="lg_s_1 slide_bot_txt_mobile">Безлимитная скорость транзакций, <br> смарт-контракты и кроссчейн-переводы в <br> удобном интерфейсе.</p>
					</div>
				</div>
			</div>
			<div class="slides">
				<div class="slide_top">
					<div class="container slide_container">
						<div>
							<h1>Profit</h1>
							<p class="lg_s_5 slide_top_txt">Благодаря бизнес-платформе Profit оплата товара <br> в криптовалюте станет такой же удобной, <br> как при использовании обычных денег.
							<div class="slide_btn_area">
								<a class="lg_sb_2" target="_blank" href="https://web.paymon.org/profit/sign/">Registration</a>
							</div>
						</div>
						<img class="slide_img" src="../assets/index/images/Profit.svg" alt="">
						<div class="slide_btn_area slide_btn_area_mobile">
							<a class="lg_sb_2" target="_blank" href="https://web.paymon.org/profit/sign/">Registration</a>
						</div>
					</div>
				</div>
				<div class="slide_bot">
					<div class="container slide_container">
						<div class="col-4 col-xl-4">
							<h1 class="lg_s_6">Для <br> бизнеса</h1>
							<p class="lg_s_7">Оплата товара в криптовалюте – это  новая возможность, которая привлекает клиентов. Поэтому для любого бизнеса – это  отличный маркетинговый ход. С нашей стороны,  мы фиксируем цену в необходимой вам валюте,  поэтому для вас нет никаких рисков.</p>
						</div>
						<div class="col-4 col-xl-4">
							<h1 class="lg_s_8">Для <br> пользователей</h1>
							<p class="lg_s_9">Держатели криптовалют получат возможность  использовать их в повседневной жизни, а не  просто хранить на кошельке. Не нужно  конвертировать или обналичивать. Достаточно просто авторизоваться в Profit, отсканировать  QR-код или выбрать магазин и произвести  оплату в два клика.</p>
						</div>
						<div class="col-4 col-xl-4">
							<h1 class="lg_s_10">Для <br> инвесторов</h1>
							<p class="lg_s_11">С ростом популярности Profit будет расти и  популярность нашей компании. Это заметно увеличит спрос на PMNT  (Paymon Token). Данный процесс подробно описан в  финансовом анализе, который  подготовил наш  советник – Сослан Газоев </p>
						</div>
						<p class="lg_s_5 slide_bot_txt_mobile">Благодаря бизнес-платформе Profit оплата товара <br> в криптовалюте станет такой же удобной, как при <br> использовании обычных денег. Каждый пользователь <br> сможет оказаться в числе первых, кто протестирует <br> Profit и примет участие в его доработке.</p>
					</div>
				</div>
			</div>
			<div class="slides">
				<div class="slide_top">
					<div class="container slide_container">
						<div>
							<h1><span class="slide_mobile_title">Paymon</span> messenger</h1>
							<p class="lg_s_12 slide_top_txt">Абсолютно защищенная <br> переписка  с простым и быстрым <br> переводом криптовалют.</p>
							<div class="slide_btn_area">
								<a target="_blank" href="https://itunes.apple.com/us/app/paymon/id1296873367"><img src="../assets/index/images/Social_Networks/apple.svg" alt=""><p>App store</p></a>
								<a class="slide_btn_area_margin_item" target="_blank" href="https://play.google.com/store/apps/details?id=ru.paymon.android.release"><img src="../assets/index/images/Social_Networks/google-play.svg" alt=""><p>Google play</p></a>
							</div>
						</div>
						<img class="slide_img" src="../assets/index/images/PM.svg" alt="">
						<div class="slide_btn_area slide_btn_area_mobile">
							<a target="_blank" href="https://itunes.apple.com/us/app/paymon/id1296873367"><img src="../assets/index/images/Social_Networks/apple.svg" alt=""><p>App store</p></a>
							<a class="slide_btn_area_margin_item" target="_blank" href="https://play.google.com/store/apps/details?id=ru.paymon.android.release"><img src="../assets/index/images/Social_Networks/google-play.svg" alt=""><p>Google play</p></a>
						</div>
					</div>
				</div>
				<div class="slide_bot">
					<div class="container slide_container">
						<div class="col-4">
							<h1 class="lg_s_13">Конфиденциально</h1>
							<p class="lg_s_14">Ваши данные под надежной защитой. В приложении используется наш собственный протокол. Весь трафик шифруется алгоритмами Диффи-Хеллмана (Diffie-Hellman), AES (Advanced Encryption Standard) с применением хэш-функций SHA (Secure Hash Algorithm), а переписки - алгоритмом RSA-2048.</p>
						</div>
						<div class="col-4">
							<h1 class="lg_s_15">Безопасно</h1>
							<p class="lg_s_16">В отличие от большинства сервисов, мы не используем горячие кошельки. Ваши средства находятся только у вас. Мы не имеем доступа к вашим приватным ключам, поэтому вы можете быть уверенными в их безопасности.</p>
						</div>
						<div class="col-4">
							<h1 class="lg_s_17">Удобно</h1>
							<p class="lg_s_18">Не нужно запоминать или вводить ваш 30 – 44-значный публичный ключ и пользоваться сторонними сервисами. Достаточно сообщить логин, и другой пользователь сможет перевести вам деньги в несколько кликов. Кошелек также совместим с ERC20 токенами.</p>
						</div>
						<p class="lg_s_12 slide_bot_txt_mobile">Абсолютно защищенная <br> переписка  с простым и быстрым <br> переводом криптовалют.</p>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- EXCHANGES -->
<section class="exchanges" id="exchanges">
	<div class="exch_wrap">
		<h1 class="title lg_t_2">Биржи</h1>
		<div class="container">
			<a target="_blank" class="exch_out_links first_out_link" href="https://idex.market/eth/pmnt"><img src="../assets/index/images/IDEX.svg" alt=""></a>
			<div class="exch_hitBTC">
				<img src="../assets/index/images/HitBTC.svg" alt="">
				<!-- <a class="exch_hitBTC_btn lg_e" href="">Как купить</a> -->
				<div id="hitbtc-ticker" class="hit-medium" data-hue="1" data-refId="5b150d76a9c5a"></div> 
			</div>
			<a target="_blank" class="exch_out_links lg_e_1" href="https://yobit.io/ru/?bonus=Oqwyy"><img src="../assets/index/images/Yobit.svg" alt=""></a>
		</div>
	</div>
</section>
<!-- NEWS -->
<section class="news" id="news">
	<h1 class="title lg_t_3">Новости</h1>
	<div class="container">
		<div class="news_left">
			<a target="_blank" href="https://github.com/PaymonTeam/paymon-wallet/releases/download/0.0.1a/paymon_wallet_0.0.1a.zip">
				<img class="lg_n_1" src="../assets/index/images/News/news_1.jpg" alt="Paymon_news">
				<img class="news_img_after lg_n_2" src="../assets/index/images/News/news_1_after.jpg" alt="Paymon_news">
			</a>
		</div>
		<div class="news_center">
			<a target="_blank" href="https://web.paymon.org/signin/">
				<img class="lg_n_3" src="../assets/index/images/News/news_2.jpg" alt="Paymon_news">
				<img class="news_img_after lg_n_4" src="../assets/index/images/News/news_2_after.jpg" alt="Paymon_news">
			</a>
			<a target="_blank" href="https://www.youtube.com/watch?v=PxQ1d7O8O1k">
				<img class="lg_n_5" src="../assets/index/images/News/news_3.jpg" alt="Paymon_news">
				<img class="news_img_after lg_n_6" src="../assets/index/images/News/news_3_after.jpg" alt="Paymon_news">
			</a>
		</div>
		<div class="news_right">
			<a target="_blank" href="https://medium.com/@Paymon_official/paymon-weekly-news-14-9c214cfcd409">
				<img class="lg_n_7" src="../assets/index/images/News/news_4.jpg" alt="Paymon_news">
				<img class="news_img_after lg_n_8" src="../assets/index/images/News/news_4_after_eng.jpg" alt="Paymon_news">
			</a>
			<a target="_blank" href="https://medium.com/@Paymon_official/we-are-listed-on-hitbtc-yay-940d5793f64f">
				<img class="lg_n_9" src="../assets/index/images/News/news_5.jpg" alt="Paymon_news">
				<img class="news_img_after lg_n_10" src="../assets/index/images/News/news_5_after.jpg" alt="Paymon_news">
			</a>
		</div>
	</div>
</section>
<!-- FOOTER -->
<footer id="footer">
	<div class="container">
		<div class="footer_colums footer_column_1">
			<h1>Paymon</h1>
			<p>Copyright &copy; 2018 Paymon.</p>
			<p class="lg_f_1">Все права защищены.</p>
		</div>
		<div class="footer_colums footer_column_2">
			<h1 class="lg_f_2">Языки</h1>
			<a class="Lang_eng" onclick="translateEng()">English</a>
			<a class="Lang_ru" onclick="translateRu()">Русский</a>
		</div>
		<div class="footer_colums footer_column_3">
			<h1 class="lg_f_3">О компании</h1>
			<a target="_blank" href="../assets/index/docs/White_Paper_version_2_0_ru.pdf" class="lg_f_4">White Paper</a>
			<a target="_blank" href="../assets/index/docs/Technical_Document_ru.pdf" class="lg_f_5">Technical Document</a>
		</div>
		<div class="footer_colums footer_column_4">
			<div class="main_store_are">
				<a class="App_link" href="https://itunes.apple.com/us/app/paymon/id1296873367" target="_blank">
					<img src="../assets/index/images/Social_Networks/apple.svg" alt="App_Store">
					<span>iOS</span>
				</a>
				<a class="Goo_link" href="https://play.google.com/store/apps/details?id=ru.paymon.android.release" target="_blank">
					<img src="../assets/index/images/Social_Networks/google-play.svg" alt="Google_Play">
					<span>Android</span>
				</a>
			</div>
			<div class="main_networks_are">
				<a href="https://t.me/paymoneng" target="_blank">
					<img src="../assets/index/images/Social_Networks/Telegram.svg" alt="Telegram">
				</a>
				<a href="https://www.instagram.com/paymon_official/" target="_blank">
					<img src="../assets/index/images/Social_Networks/Insta.svg" alt="Instagram">
				</a>
				<a href="https://twitter.com/Paymon_official" target="_blank">
					<img src="../assets/index/images/Social_Networks/Twitter.svg" alt="Tweeter">
				</a>
				<a href="https://www.facebook.com/ico.paymon.org" target="_blank">
					<img src="../assets/index/images/Social_Networks/Facebook.svg" alt="Facebook">
				</a>
				<a href="https://www.youtube.com/channel/UCD1CvDVPJgxPBv9bsmpv1ig" target="_blank">
					<img src="../assets/index/images/Social_Networks/Youtube.svg" alt="YouTube">
				</a>
				<a href="https://medium.com/@Paymon_official" target="_blank">
					<img src="../assets/index/images/Social_Networks/Medium.svg" alt="YouTube">
				</a>
				<a href="https://github.com/PaymonTeam/" target="_blank">
					<img src="../assets/index/images/Social_Networks/GitHab.svg" alt="YouTube">
				</a>
			</div>
		</div>
	</div>
</footer>
<script>
	$('.App_link').hover(function() {;
		$('.App_link span').css('text-shadow', '0 0 20px rgba(51,181,229,0.7)');
		$('.App_link img').css('filter', 'drop-shadow(0 0 10px rgba(51,181,229,0.7))');
	}, function() {
		$('.App_link span').css('text-shadow', 'none');
		$('.App_link img').css('filter', 'none');
	});
	$('.Goo_link').hover(function() {;
		$('.Goo_link span').css('text-shadow', '0 0 20px rgba(51,181,229,0.7)');
		$('.Goo_link img').css('filter', 'drop-shadow(0 0 10px rgba(51,181,229,0.7))');
	}, function() {
		$('.Goo_link span').css('text-shadow', 'none');
		$('.Goo_link img').css('filter', 'none');
	});
</script>
<script> 
	function slowScroll (id) { 
		var offset = 0; 
		$('html, body').animate ({ 
		scrollTop: $(id).offset ().top - offset 
		}, 1500); 
		return false; 
	} 
</script>
<script>
	$('.infr_slider').slick({
	    autoplay: true,
	    dots: true,
	    infinite: true,
	    speed: 800,
	    slidesToShow: 1,
	    adaptiveHeight: true,
	    arrows : true,
	});
</script>
<script type="text/javascript"> 
	(function() { 
		var po = document.createElement("script"); 
		po.type = "text/javascript"; 
		po.async = true; 
		po.src = "https://hitbtc.com/get_widget?pair=pmntbtc";; 
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(po, s); 
	})(); 
</script>
</body>
</html>